<section class="module parallax parallax-3">
  <div class="container">
    <h1>New Recipe</h1>
<div class="form">
<%= form_for @recipe do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <!-- f.select( :box_id, box.all.collect { |box| [box.title, box.id] } ) -->

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>


  <%= f.submit %>
<% end %>
</div>

</div>
</section>
