
<div class="form">
<%= form_for @recipe do |f| %>
<h2>Create New Character</h2>
  <%= f.label :title %>
  <%= f.text_field :title %>



  <!-- f.select( :box_id, box.all.collect { |box| [box.title, box.id] } ) -->

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>


  <%= f.submit %>
<% end %>
</div>
