<% flash.each do |type, message| %>
  <p><%= type %>: <%= message %></p>
<% end %>



<div class="whitespace"></div>
<div class="recipe_profile">
<div><%= button_to 'Add Recipe to Box' ,{:controller => 'boxes', :action => 'create', :recipe_id => @recipe.id, :value => 0}, {:method => :post} %>

<h1>Title: <%= @recipe.title %></h1>
<div class="btn btn-primary"><%= link_to "Edit", edit_recipe_path(@recipe) %></div>
<div class="btn btn-primary"><%= link_to 'Delete', recipe_path(@recipe),
                                              method: :delete,
                                              data: { confirm: 'Are you sure?' } %></div>
<hr>


<%= image_tag @recipe.image.to_s %>


 <!-- @recipe.box_id  -->

</div>
</div>
