<section class="module parallax parallax-2">
  <div class="container">
<h1>New Box</h1>
</div>
</section>

<div class="form">
<% @box.errors.full_messages.each do |message| %>
<p>
  <%= message %>
</p>
<% end %>

<%= form_for @box do |f| %>
<%= f.label :theme %>
<%= f.text_field :theme %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.submit %>
<% end %>
</div>
